body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#header {
    margin-top: -20px;
    padding: 0;
}

#board {
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 20px;
    height: 500px;
    width: 500px;
    display: grid;
}

#buttons_container{
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-around;
}

#buttons_container div {
    display: flex;
    align-items: center;
    gap: 10px;
}

#grid_buttons {
    width: 500px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#grid_buttons button{
    width: 5ch;
}

#grid_buttons div{
    display: flex;
    align-items: center;
    gap: 5px;
    height: 30px;
}

.hidden {
    display:none;
}

.visible {
    transform: scale(1.5);
    color: red;
}

#input_size {
    width: 3ch;
}

button:hover,
#color_picker {
    cursor: pointer;
}